body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

body, html {
    height: 100%;
}

 /* The navigation bar with internal linking */

nav ul {
    list-style: 0;
    background-color: #484848;
    text-align: right;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 1%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #666666;

}

 /* The hero image, title and location */

 .hero-image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1619229666372-3c26c399a4cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px solid red;

}

.hero-outer {
  height: 675px;
  width: 100%;
  
}

.hero-text {
    font-family: fantasy;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    padding-bottom: 5%;
  }

  .hero-location {
    font-size: 50px;
    color: #fff;
    padding-top: 5%;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  /* styling components for hero heading */

  .title-heading {
    text-align: center;
    font-size: 100px;
    font-family: fantasy;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
  }

  /* Lineup in three-table layout */
  
  .lineup-table {
    padding: 20px;
    background-color: grey;
    height: 650px;
    border: 2px solid red;
  }

  .col-sm-4{
    float: left;
    width: 33.33%;
    height: 600px;
    text-align: center;
    
  }

  li {
    list-style-type:none;
    font-size: x-large;
    height: 50px;
    font-family: fantasy;
  }
  
  .list-items {
    padding-top: 5%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Newsletter signup form */

 .intro {
    text-align: center;
    font-size: 1.9em;
    font-family: serif;
    color: white;
    padding-top: 5%;
    
  }

 #intro-signup {
  height: 1200px;
  border: 2px solid red;
  background-color: #484848;
 }

 form {
    margin: 100px auto;
    width: 50%;
  }

  .container {
    padding: 20px;
    background-color: 	#484848;
  }

  .news-letter {
    text-align: center;
    text-shadow: white;
  }

  h2 {
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    
  }

  .lineup {
    color: white;
  }

  .welcome-message {
    padding-top: 5%;
    color: white;
  }

  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
  }
  

  input[type=checkbox] {
    margin-top: 10px;
    color: white;
  }
  
  
  input[type=submit] {
    background-color: grey;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  .news-letter {
    font-size: 30px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
  }

  .subscribe {
    color: white;
  }

  .daily {
    color: white;
  }

  /* Photo gallery */

 #photo {
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    border: 2px solid red;
    background-color: black;
   
}

#photo img{
    width: 100%;
}

  /* Ticket information and Background image */

.background-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/flagged/photo-1565250264861-7f7e92a17285?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid red;
  }
  
  .background-outer {
    height: 750px;
    width: 100%;
  }

  .tickets-now {
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 5%;
    font-size: 50px;

  }
  
  .details {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin-top: 5%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-family: 'MuseoSansCond-900','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  height: 50%;
  width: 50%;
  text-align: center;
  padding-top: 10%;
}

  /* Responsive location map */

 #map {
  height: 100%;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
  border: 2px solid red;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

/* Footer with social media links */


footer {
  height: 200px;
  background-color: #484848;
  overflow: hidden;
}

.social-links{
  text-align: center;
  padding-top: 3.5%;
  padding-right: 2.5%;

}

.social-links li{
  display: inline;
}

.social-links i{
  font-size: 150%;
  margin: 0.5%;
  padding: 1%;
  color: lightgrey;
}

.heading {
  color: white;
  font-size: 150%;
}



